
nav {
    background-color: white;
    overflow: hidden;
}

#logo {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-top: 15px;
}

nav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}

nav a:hover {
    text-decoration: underline orange;
}

#contact {
    font-size: 15px;
    padding: 14px 16px;
    background-color: orange;
    color: white;
    border-radius: 10px;
}

.subtitle {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
}
.underline {
    text-decoration: underline orange 5px;
}
#textbox {
    font-family: "Poppins", sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    width: 700px;
    position: relative;
    left: 300px;
}
.sub-subtitle {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}
p {
    font-family: "Open Sans", sans-serif;
    color: grey;
}
.programs {
    display: inline-block;
    padding: 15px;
}
.program-buttons {
    background-color: white;
    border-radius: 10%;
    padding: 15px;
    width: 100px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.program-buttons:hover {
    background-color: orange;
    color: white;
}
#left {
    position: relative;
    left: 550px;
}
.reasons {
    display: inline-block;
    padding: 100px;
    text-align: center;
}



h4 {
    font-family: "Open Sans", sans-serif;
}
.involved {
    color: white;
    background: orange;
    border: none;
    padding: 20px;
}
